---
layout: default
class: home
css: ['pages/index.css']
comments: false
---

<section class="banner">
    <div class="collection-head">
        <div class="container">
            <div class="collection-title">
              <h1 class="collection-header" id="sub-title"><span>{{ site.subtitle }}</span></h1>
                <div class="collection-info">
                    <span class="meta-info mobile-hidden">
                        <span class="octicon octicon-location"></span>
                        {{ site.location }}
                    </span>
                    <span class="meta-info">
                        <span class="octicon octicon-organization"></span>
                        <a href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a>
                    </span>
                     <span class="meta-info">
                        <span class="octicon octicon-mark-github"></span>
                        <a href="https://githubfast.com/{{ site.github_username }}" target="_blank">{{ site.github_username }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.banner -->
<section class="container content">
    <div class="columns">
        <div class="column two-thirds" >
            <ol class="repo-list">
                {% for post in paginator.posts %}
                <li class="repo-list-item">
                    <h3 class="repo-list-name">
                      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h3>
                    <p class="repo-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="repo-list-meta">
                        <span class="meta-info">
                          <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                        </span>
                        {% for cat in post.categories %}
                        <span class="meta-info">
                          <span class="octicon octicon-file-directory"></span>
                          <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
                        </span>
                        {% endfor %}
                    </p>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="column one-third">
            {% include sidebar-search.html %}
            {% include sidebar-qrcode.html %}
            {% include sidebar-popular-repo.html %}
        </div>
    </div>
    <div class="pagination text-align">
      <div class="btn-group">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
              <a href="{{ site.url }}/" class="btn btn-outline">&laquo;</a>
          {% else %}
              <a href="{{ site.url }}/page{{paginator.previous_page}}"  class="btn btn-outline">&laquo;</a>
          {% endif %}
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&laquo;</button>
        {% endif %}
        {% if paginator.page == 1 %}
            <a href="javascript:;" class="active btn btn-outline">1</a>
        {% else %}
            <a href="{{ site.url }}/"  class="btn btn-outline">1</a>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
              <a href="javascript:;"  class="active btn btn-outline">{{count}}</a>
          {% else %}
              <a href="{{ site.url }}/page{{count}}"  class="btn btn-outline">{{count}}</a>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
            <a href="{{ site.url }}/page{{paginator.next_page}}"  class="btn btn-outline">&raquo;</a>
        {% else %}
            <button disabled="disabled" href="javascript:;" class="btn btn-outline">&raquo;</button>
        {% endif %}
        </div>
    </div>
    <!-- /pagination -->
</section>
<!-- /section.content -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</body>
<script>
    !function () {
    function n(n, e, t) {
        return n.getAttribute(e) || t
    }
 
    function e(n) {
        return document.getElementsByTagName(n)
    }
 
    function t() {
        var t = e("script"), o = t.length, i = t[o - 1];
        return {l: o, z: n(i, "zIndex", -1), o: n(i, "opacity", .5), c: n(i, "color", "0,0,0"), n: n(i, "count", 99)}
    }
 
    function o() {
        a = m.width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth, c = m.height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight
    }
 
    function i() {
        r.clearRect(0, 0, a, c);
        var n, e, t, o, m, l;
        s.forEach(function (i, x) {
            for (i.x += i.xa, i.y += i.ya, i.xa *= i.x > a || i.x < 0 ? -1 : 1, i.ya *= i.y > c || i.y < 0 ? -1 : 1, r.fillRect(i.x - .5, i.y - .5, 1, 1), e = x + 1; e < u.length; e++) n = u[e], null !== n.x && null !== n.y && (o = i.x - n.x, m = i.y - n.y, l = o * o + m * m, l < n.max && (n === y && l >= n.max / 2 && (i.x -= .03 * o, i.y -= .03 * m), t = (n.max - l) / n.max, r.beginPath(), r.lineWidth = t / 2, r.strokeStyle = "rgba(" + d.c + "," + (t + .2) + ")", r.moveTo(i.x, i.y), r.lineTo(n.x, n.y), r.stroke()))
        }), x(i)
    }
 
    var a, c, u, m = document.createElement("canvas"), d = t(), l = "c_n" + d.l, r = m.getContext("2d"),
        x = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (n) {
            window.setTimeout(n, 1e3 / 45)
        }, w = Math.random, y = {x: null, y: null, max: 2e4};
    m.id = l, m.style.cssText = "position:fixed;top:0;left:0;z-index:" + d.z + ";opacity:" + d.o, e("body")[0].appendChild(m), o(), window.onresize = o, window.onmousemove = function (n) {
        n = n || window.event, y.x = n.clientX, y.y = n.clientY
    }, window.onmouseout = function () {
        y.x = null, y.y = null
    };
    for (var s = [], f = 0; d.n > f; f++) {
        var h = w() * a, g = w() * c, v = 2 * w() - 1, p = 2 * w() - 1;
        s.push({x: h, y: g, xa: v, ya: p, max: 6e3})
    }
    u = s.concat([y]), setTimeout(function () {
        i()
    }, 100)
}();
</script>
</html>




<script src="https://unpkg.com/live2d-widget/lib/L2Dwidget.min.js"></script>
<script src="https://unpkg.com/live2d-widget/lib/L2Dwidget.0.min.js"></script>
<script>
　　L2Dwidget.init({ 
　　"model": {jsonPath:"https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json","scale": 1 }, 
　　"display": { "position": "left", "width": 150, "height": 300,"hOffset": 0, "vOffset": -20 }
  });
</script>
