<h3>联系方式</h3>
QQ: 33299235 <br />
email: 33299235@qq.com<br />
Gmail: scp020.cn@gmail.com<br />
<h3>本人的其它个人主页</h3>
<a href="https://www.luogu.com.cn/user/553625" target=“_blank">洛谷</a><br />
<a href="https://scp020.blog.csdn.net" target=“_blank">CSDN</a><br />
<h3>友链</h3>
<a href="https://www.stevehim.top/" target=“_blank">拜谢stevehim</a><br />
<a href="https://qidirj.github.io/" target=“_blank">拜谢日记</a><br />
<a href="https://cppomstar.github.io/" target=“_blank">拜谢cppomstar</a><br />
<h3>views counting<h3>
<img src="https://badges.toozhao.com/badges/01HBWDYWSGC408YHC1J0WCBK02/green.svg" />
