{% include header.html %}
  {{ content }}
{% include footer.html %}

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
<!--   jax: ["input/TeX","output/HTML-CSS", "output/PreviewHTML"], -->
  tex2jax: {
    inlineMath: [ ['$','$'], ['\\(','\\)'] ],
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
    processEscapes: true
  },
<!--   TeX: {
    extensions: ["mhchem.js","autoload-all.js","AMSmath.js", "AMSsymbols.js"]
  }, -->
<!--   "HTML-CSS": {
    showMathMenu: false
  }, -->
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
