---
layout: default
---
<head>
	<SCRIPT language=JavaScript>
		function password() {
			var testV = 1;
			var pass1 = prompt('请输入密码:','');
			while (testV < 3) {
				if (!pass1)
				history.go(-1);
				if (pass1 == "你想知道密码吗？") {
					alert('密码正确!');
					break;
				}
				testV+=1;
				var pass1 = prompt('密码错误!请重新输入:');
			}
			if (testV ==3)
			history.go(-1);
			return " ";
		}
		document.write(password());
	</SCRIPT>
</head>

<html>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script language="JavaScript">
	var e = /(^AT|^CF|^SP|^P|^UVA|^U|^T|^B)/;
	$(document).ready(function() {
		$("h1").dblclick(function() {
			if(e.test(window.getSelection().toString())) {
				var fl = confirm("是否打开题目链接 \n https://www.luogu.com.cn/problem/"+window.getSelection().toString());
				if(fl == true) window.open("https://www.luogu.com.cn/problem/"+window.getSelection().toString());
			}
		});
	});
</script>
</html>

<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 25, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.title }}</h1>
        <div class="collection-info">
          {% if page.date %}
          <span class="meta-info">
            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
          </span>
          {% endif %}
          {% for cat in page.categories %}
          <span class="meta-info">
            <span class="octicon octicon-file-directory"></span>
            <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
    {{ content }}
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-notice.html %}
    {% include sidebar-about.html %}
    {% include sidebar-special-effect.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
<!-- /section.content -->
