---
layout: default
---
<head>
	<SCRIPT language=JavaScript> 
 
		function password() { 
		 
		var testV = 1; 
		 
		var pass1 = prompt('请输入密码:',''); 
		 
		while (testV < 3) { 
		 
		if (!pass1) 
		 
		history.go(-1); 
		 
		if (pass1 == "这里输入你想设置的密码") { 
		 
		alert('密码正确!'); 
		 
		break; 
		 
		} 
		 
		testV+=-1; 
		 
		var pass1 = prompt('密码错误!请重新输入:'); 
		 
		} 
		 
		if (pass1!="password" & testV ==3) 
		 
		history.go(-1); 
		 
		return " "; 
		 
		} 
		 
		document.write(password()); 
		 
		</SCRIPT>
</head>
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.title }}</h1>
        <div class="collection-info">
          {% if page.date %}
          <span class="meta-info">
            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
          </span>
          {% endif %}
          {% for cat in page.categories %}
          <span class="meta-info">
            <span class="octicon octicon-file-directory"></span>
            <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
    {{ content }}
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-notice.html %}
    {% include sidebar-about.html %}
    {% include sidebar-special-effect.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
<!-- /section.content -->
